.time-hour {
  font-family: 'Orbitron', sans-serif;
  font-size: 72px;
}

.time-date {
  font-family: 'Oswald', sans-serif;
  font-size: 24px;
}

input {
  font-size: 36px;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #ddd;
  outline: none;
  padding: 10px 0;
}

.mat-button-toggle {
  background-color: #fff;
}

.mat-button-toggle-checked {
  background-color: #2ecc71;
  color: #fff;
}