<div class="row full-height">
  <div class="row full-height col-xs-auto direction-column-xs middle-xs center-xs" style="background-color: rgba(255,255,255,0.9);">
    <div class="row direction-column-xs middle-xs">
      <img src="../assets/logo.png" style="margin-bottom: 120px;">
      <form #timeinForm="ngForm" (ngSubmit)="getEmployeeInfo(timeinForm)" autocomplete="off">
        <input type="text" name="employee_id" [disabled]="loading" autofocus #focus ngModel>
      </form>
      <div style="margin-top: 30px; margin-bottom: 20px;">
        <mat-button-toggle-group #logType="matButtonToggleGroup" (change)="matButtonToggle(logType.value)" value="time_in">
          <mat-button-toggle value="time_in">
            Time In
          </mat-button-toggle>
          <mat-button-toggle value="time_out">
            Time out
          </mat-button-toggle>
        </mat-button-toggle-group>
      </div>
    </div>
    <div class="time row direction-column-xs middle-xs">
      <div class="time-hour">
        {{ today | date:'shortTime' }}
      </div>
      <div class="time-date">
        {{ today | date:'fullDate' }}
      </div>
    </div>
  </div>
  <div class="row" style="background-color: #fff;">
    <div style="width: 300px; border-left: 1px solid #ddd; padding: 10px; overflow: auto;">
      <div style="text-align: center; border-bottom: 1px solid #ddd; padding-bottom: 10px;">Time Log</div>
      <div style="padding-top: 10px; padding-bottom: 10px; border-bottom: 1px solid #ddd;" *ngFor="let i of logs | orderBy: 'time_log' | reverse | slice:0:60">
        {{ i.first_name }} {{ i.last_name }} 
        <small style="color: green;" *ngIf="i.type == 'time_in'"><i class="mdi mdi-clock-in"></i></small>
        <small style="color: red;" *ngIf="i.type == 'time_out'"><i class="mdi mdi-clock-out"></i></small>
        <span style="float: right; font-size: 11px;">{{ i.time_log * 1000 | date: 'h:mm a' }}</span>
      </div>
    </div>
  </div>
</div>