/* You can add global styles to this file, and also import other style files */
@import './assets/plugins/responsive-dojo/responsive-dojo.css';
@import './assets/plugins/materialdesignicon/css/materialdesignicons.css';
@import url('https://fonts.googleapis.com/css?family=Orbitron');
@import url('https://fonts.googleapis.com/css?family=Oswald:400,600');
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Arial', sans-serif;
}

body {
  background-image: url(./assets/bg.jpg);
  background-size: cover;
  background-position: center;
}

.full-height {
  height: 100%;
}

.swal-title, .swal-text {
  font-family: 'Arial', sans-serif;
}